body {
    background-image: url("../assets/background.jpeg");
    background-repeat: no-repeat;
    font-family: sans-serif;
}

#game { 
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

#logo {
    width: 30%;
    height: 30%;
};

#input-number {
    padding-top: 20px;
}

#result-text {
    color: red;
    font-size: 40px;
    border: black solid 2px;
    padding: 10px;
}

#guesses-left {
    color: yellow;
}

#restart-button {
    display: none;
}