@font-face {
    font-family: Azonix;
    src: url("../assets/Azonix.otf") format("opentype");
}

body {
    background-image: url("../assets/background.jpeg");
    background-repeat: round;
    font-family: 'Azonix', sans-serif;
    overflow: hidden;
}

#game { 
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

#logo {
    width: 30%;
    height: 30%;
};

#input-number {
    padding-top: 20px;
}

#result-text {
    color: blue;
    font-size: 40px;
    border: black solid 2px;
    padding: 10px;
}

#guesses-left {
    color: yellow;
}

#restart-button {
    display: none;
}

#win-message {
    color: green;
}

#lose-message {
    color: red;
}